@import '../../app/style/mixins.scss';

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(5) rem(20);

    .logo {
        width: rem(200);
    }

    .nav-items {
        display: flex;
        gap: .8rem;
        
        .nav-btn {
            display: flex;
            align-items: center;
            margin-right: 0.5rem;

            svg {
                font-size: 1.2rem;
            }
        }
    }

}