@import '../../app/style/mixins.scss';

.account-card {
    display: flex;
    justify-content: space-between;
    width: 80%;
    background-color: white;
    padding: 1.5rem;

    .amount {
        font-size: 2.5rem;
        font-weight: bold;
    }

    .account-content:nth-child(2) {
        align-self: center;

        .main-button {
            font-size: 1.1rem;
        }
    }
}