@import '../../app/style/mixins.scss';

.profile-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    flex: 1;
    gap: 1rem;
    padding: 2rem;
    background-color: $neutralDark;

    @include tablet {
        padding: 2rem 1.5rem;
    }

    @include mobile-large {
        padding: 1rem 1rem;
    }
}