@import '../../assets/style/mixins.scss';

.banner {
    position: relative;
    height: rem(400);

    .content {
        position: absolute;
        top: rem(50);
        right: rem(50);
        width: rem(350);
        margin: 2rem;
        padding: 2rem;
        background-color: white;

        .subtitle {
            font-weight: bold;
            font-size: 1.4rem;
        }

        .text {
            margin-top: 1rem;
            font-size: 1.2rem;
        }

        @include mobile-large {
            top: rem(80);
            width: 80vw;
            right: 0;

            .subtitle {
                font-size: 1.2rem;
            }

            .text {
                font-size: 1rem;
            }
        }
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 0% 33%;
    }
}